swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "Swagger for MealDB"
  contact:
    email: "tothniki.ntt@gmail.com"
host: "www.themealdb.com"
basePath: "/api/json/v1/1"
tags:
- name: "meal"
  description: "Meal Recipes"
schemes:
- "https"
paths:
  
  /filter.php:
    get:
      tags:
      - "meal"
      summary: ""
      description: ""
      operationId: "getMealsByCategory"
      produces:
      - "application/json"
      parameters:
      - name: "c"
        in: "query"
        required: false
        type: "string"
        description: "Category"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/MealsByCategory"
            
  /lookup.php:
    get:
      tags:
        - "meal"
      summary: ""
      description: ""
      operationId: "getMealById"
      produces:
      - "application/json"
      parameters:
      - name: "i"
        in: "query"
        required: false
        type: "string"
        description: "ID"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Meals"

definitions:
  MealsByCategory:
    type: "object"
    properties:
      meals:
        type: "array"
        items:
          $ref: "#/definitions/MealInCategory"
  MealInCategory:
    type: "object"
    properties:
      strMeal:
        type: "string"
      strMealThumb:
        type: "string"
      idMeal:
        type: "string"
  Meals:
    type: "object"
    properties:
      meals:
        type: "array"
        items:
          $ref: "#/definitions/Meal"
  Meal:
    type: "object"
    properties:
      idMeal:
        type: "string"
      strMeal:
        type: "string"
      strCategory:
        type: "string"
      strArea:
        type: "string"
      strInstructions:
        type: "string"
      strMealThumb:
        type: "string"
      strTags:
        type: "string"
      strYoutube:
        type: "string"
      strIngredient1:
        type: "string"
      strIngredient2:
        type: "string"
      strIngredient3:
        type: "string"
      strIngredient4:
        type: "string"
      strIngredient5:
        type: "string"
      strIngredient6:
        type: "string"
      strIngredient7:
        type: "string"
      strIngredient8:
        type: "string"
      strIngredient9:
        type: "string"
      strIngredient10:
        type: "string"
      strIngredient11:
        type: "string"
      strIngredient12:
        type: "string"
      strIngredient13:
        type: "string"
      strIngredient14:
        type: "string"
      strIngredient15:
        type: "string"
      strIngredient16:
        type: "string"
      strIngredient17:
        type: "string"
      strIngredient18:
        type: "string"
      strIngredient19:
        type: "string"
      strIngredient20:
        type: "string"
      strMeasure1:
        type: "string"
      strMeasure2:
        type: "string"
      strMeasure3:
        type: "string"
      strMeasure4:
        type: "string"
      strMeasure5:
        type: "string"
      strMeasure6:
        type: "string"
      strMeasure7:
        type: "string"
      strMeasure8:
        type: "string"
      strMeasure9:
        type: "string"
      strMeasure10:
        type: "string"
      strMeasure11:
        type: "string"
      strMeasure12:
        type: "string"
      strMeasure13:
        type: "string"
      strMeasure14:
        type: "string"
      strMeasure15:
        type: "string"
      strMeasure16:
        type: "string"
      strMeasure17:
        type: "string"
      strMeasure18:
        type: "string"
      strMeasure19:
        type: "string"
      strMeasure20:
        type: "string"
      strSource:
        type: "string"
      dateModified:
        type: "string"